<div class="page-container">
  <section class="d-flex justify-content-center align-items-end gap-2 mt-2 mb-4">
    <h2 class="title">
      <%- include('./icons/login-icon'); %>
      <span>
        <%= t('login') %>
      </span>
    </h2>
  </section>
  <form class="needs-validation" method="post" action="/login" autocomplete="off" novalidate>
    <div class="mb-3">
      <%- include('./partials/input-text', { id: "username", maxLength: 50, autofocus: 'autofocus' }); -%>
    </div>
    <div class="mb-3">
      <%- include('./partials/input-password', {id: "password", maxlength: 50}); %>
    </div>
    <div class="mb-3">
      <%- include('./partials/input-text', { id: "captcha", maxlength: 5 }); -%>
    </div>
    <div class="captcha-control">
      <div class="image-box">
        <img id="captchaImage" />
        <div id="captchaSpinner">
          <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <button type="button" class="text-secondary text-primary-hover bg-transparent border rounded" onclick="window.fetchCaptcha()">
        <%- include('./icons/reload-icon'); -%>
      </button>
    </div>
    <div class="d-flex align-items-center gap-2 my-4">
      <button type="submit" class="btn btn-primary btn-icon">
        <i class="icon">
          <%- include('./icons/login-icon'); -%>
        </i>
        <span><%= t('login') %></span>
      </button>
      <a href="/register" class="link-primary p-2 px-3 text-uppercase"><%= t('register') %></a>
    </div>
  </form>
</div>