<div class="form-check">
  <input class="form-check-input" type="checkbox" id="<%= id %>" name="<%= id %>" <%= locals.formData[id] ? 'checked' : '' %> />
  <label class="form-check-label ms-2" for="<%= id %>"><%= t(id) %></label>
</div>