<button class="btn btn-primary btn-menu shadow d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
  <%- include('../icons/menu-icon'); -%>
</button>

<div class="offcanvas-lg offcanvas-start w-auto" data-bs-scroll="true" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
  <div class="offcanvas-body p-0">
    <aside class="sidebar">
      <div class="sidebar-header">
        <h1 class="sidebar-logo">Todo</h1>
        <button type="button" class="btn btn-primary border-0 bg-transparent d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebarOffcanvas" aria-label="Close">
          <%- include('../icons/close-icon'); -%>
        </button>
      </div>
      <div class="w-100 d-flex flex-column align-items-center gap-2 p-3 mb-2">
        <div class="w-100 d-flex justify-content-between gap-2">
          <%- include('../partials/theme-variant'); -%>
          <%- include('../partials/theme-toggle'); -%>
        </div>
        <%- include('../partials/language-menu'); -%>
      </div>

      <div class="sidebar-menu-title"><%= t('main') %></div>
      <ul class="sidebar-menu">
        <li>
          <a href="/"><%- include('../icons/home-icon'); -%>
            <span><%= t('home') %></span></a>
        </li>
        <li>
          <a href="/todoes"><%- include('../icons/todo-icon'); %>
            <span><%= t('todo') %></span></a>
        </li>
        <li>
          <a href="/message"><%- include('../icons/message-icon'); %>
            <span><%= t('message') %></span></a>
        </li>
        <li>
          <a href="/about"><%- include('../icons/about-icon'); %>
            <span><%= t('about') %></span>
          </a>
        </li>
        <li>
          <a href="/author"><%- include('../icons/author-icon'); %>
            <span><%= t('author') %></span></a>
        </li>
      </ul>

      <% if(typeof loggedUser !== 'undefined' && loggedUser) { %>
      <div class="sidebar-menu-title"><%= t('data') %></div>
      <ul class="sidebar-menu">
        <li>
          <a href="/data/messages"><%- include('../icons/message-icon'); %>
            <span><%= t('message') %></span></a>
        </li>
        <li>
          <a href="/data/audittrails"><%- include('../icons/audit-trail-icon'); %>
            <span><%= t('auditTrail') %></span>
          </a>
        </li>
      </ul>
      <% } %>

      <div class="sidebar-menu-title"><%= t('account') %></div>
      <ul class="sidebar-menu">
        <% if(typeof loggedUser !== 'undefined' && loggedUser) { %>
        <li>
          <a href="/profile"><%- include('../icons/user-icon'); -%>
            <span> <%= t('profile') %></span>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/register"><%- include('../icons/user-icon'); -%>
            <span> <%= t('register') %></span>
          </a>
        </li>
        <% } %>
      </ul>

      <div class="m-3 mt-2">
        <% if(typeof loggedUser !== 'undefined' && loggedUser) { %>
        <form method="post" action="/logout" autocomplete="off" id="logout-form" novalidate>
          <button type="button" id="logout-button" data-message="<%= t('logoutMessage') %>" class="w-100 btn btn-primary btn-icon">
            <i class="icon">
              <%- include('../icons/logout-icon'); -%>
            </i>
            <span><%= t('logout') %></span>
          </button>
        </form>
        <% } else { %>
        <a href="/login" class="btn btn-primary btn-icon">
          <i class="icon">
            <%- include('../icons/login-icon'); -%>
          </i>
          <span><%= t('login') %></span>
        </a>
        <% } %>

      </div>

    </aside>
  </div>
</div>