<button class="btn btn-menu d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
  <%- include('../icons/menu-icon'); -%>
</button>

<div class="offcanvas-lg offcanvas-start w-auto" data-bs-scroll="true" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
  <div class="offcanvas-body p-0">
    <aside class="sidebar">
      <div class="sidebar-header mb-2">
        <h1 class="sidebar-logo">Todo</h1>
        <button type="button" class="btn d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebarOffcanvas" aria-label="Close">
          <%- include('../icons/close-icon'); -%>
        </button>
      </div>
      <div class="w-100 d-flex flex-column align-items-center gap-2 p-3 mb-4">
        <div class="w-100 d-flex justify-content-between gap-2">
          <%- include('../partials/theme-variant'); -%>
          <%- include('../partials/theme-toggle'); -%>
        </div>
        <%- include('../partials/language-menu'); -%>
      </div>
      <ul class="sidebar-menu">
        <li>
          <a href="/"><%- include('../icons/home-icon'); -%>
            <span>
              <%= t('home') %>
            </span></a>
        </li>
        <% if(typeof loggedUser !== 'undefined' && loggedUser) { %>
        <li>
          <a href="/profile"><%- include('../icons/user-icon'); -%>
            <span>
              <%= t('profile') %>
            </span></a>
        </li>
        <% } %>
        <li>
          <a href="/message"><%- include('../icons/message-icon'); %>
            <span>Message</span></a>
        </li>
        <li>
          <a href="/about"><%- include('../icons/about-icon'); %> <span>About</span></a>
        </li>
        <li>
          <a href="/author"><%- include('../icons/author-icon'); %>
            <span>Author</span></a>
        </li>
      </ul>


      <div class="m-2 mt-5">
        <% if(typeof loggedUser !== 'undefined' && loggedUser) { %>
        <form method="post" action="/logout" autocomplete="off" id="logout-form" novalidate>
          <button type="button" id="logout-button" data-message="<%= t('logoutMessage') %>" class="w-100 btn btn-primary btn-icon">
            <i class="icon">
              <%- include('../icons/logout-icon'); -%>
            </i>
            <span><%= t('logout') %></span>
          </button>
        </form>
        <% } else { %>
        <a href="/login" class="btn btn-primary btn-icon">
          <i class="icon">
            <%- include('../icons/login-icon'); -%>
          </i>
          <span><%= t('login') %></span>
        </a>
        <% } %>

      </div>

    </aside>
  </div>
</div>